template(name="database_tasks")
	button.btn.btn-success.reset_model_def Reset Model Definitions
	br
	br
	button.btn.btn-success.reset_admin_user Reset Admin User

	br
	br
	button.btn.btn-success.reset_admin_roles Reset Admin Roles