/* Portrait phone*/
@media screen and (max-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait),

/* Landscape phone*/
screen and (max-device-width: 640px) and (max-device-height: 360px) and (orientation: landscape),

/* Portrait tablet*/
screen and (max-device-width: 800px) and (max-device-height: 1200px) and (orientation: portrait),

/* Landscape tablet*/
screen and (max-device-width: 1200px) and (max-device-height: 800px) and (orientation: landscape)
{
    .btn-mobile{
        width:200px;
        margin-bottom: 3px;
    }

    .allign-center{
        text-align: center;
    }
}

.top_bar{
    background-color: #2cc5d2;
    height: 15%;
}

.list_details_header{
    font-size: large;
}

