template(name="button_form_update")
   button.btn.btn-warning.btn-mobile Update

template(name="button_form_save")
   //input(type="submit" value="Save").btn.btn-success.save
   button.btn.btn-primary.btn-mobile Save

template(name="button_form_cancel")
   button.btn.btn-cancel.btn-mobile Cancel

template(name="form_buttons")
   .allign-center
      if editingModel
         +button_form_update
      else
         +button_form_save
      if isPhoneOrTablet
         br
      +button_form_cancel
