template(name="model_form_buttons_phone")
    div.allign-center
        if editingModel
            +button_update_model_phone
        else
            +button_save_model_phone
        br
        +button_cancel_model_phone

template(name="button_save_model_phone")
    button.btn.btn-primary.btn-mobile.save Save

template(name="button_update_model_phone")
    button.btn.btn-warning.btn-mobile.update Update

template(name="button_cancel_model_phone")
    button.btn.btn-cancel.btn-mobile.save Cancel