template(name="button_cancel_model_def_form")
   button.btn.btn-default Cancel

template(name="button_save_model_def_form")
   button.btn.btn-success Save

template(name="button_update_model_def_form")
   button.btn.btn-warning Update

