template(name="button_add_model")
   button.btn.btn-success.addModel Add #{modelName}

template(name="button_remove_all")
   a(href="#").glyphicon.glyphicon-trash.remove_all

template(name="button_remove_row")
   a(href="#").glyphicon.glyphicon-trash.remove_row

template(name="button_edit_row")
   a(href="#").glyphicon.glyphicon-edit.edit_row