template(name="email_form")
   +labeled_input_text(name="from")
   br
   br
   +labeled_input_text(name="to")
   br
   br
   +labeled_input_text(name="subject")
   br
   br
   +labeled_input_text_area(name="text")
   br
   br
   button.btn.btn-success.send_email Send