template(name="nav")
	nav.navbar.navbar-default(role="navigation")
		.container-fluid
			.navbar-header
				button(type="button",data-toggle="collapse",data-target="#navbar-collapse-1").navbar-toggle.collapsed
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				if isPhone
					a(href="/").navbar-brand Meteor Admin (Ver. Alpha 0.12)
				else
					a(href="/").navbar-brand Meteor(#{getMeteorVersion}) Admin (Ver. Alpha 0.12)
			#navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					+loginButtons