template(name="model_instance_form_buttons")
   if editingModel
      +button_form_update
   else
      +button_form_save
   +button_form_cancel

template(name="button_form_cancel")
   button.btn.btn-cancel.cancel Cancel

template(name="button_form_update")
   button.btn.btn-warning.update Update

template(name="button_form_save")
   input(type="submit" value="Save").btn.btn-success.save