template(name="model_def_form_tabs")
   ul(role="tablist" id="model_def_form_tabs").nav.nav-tabs
      +tab_header(id="default_form" label="Default Form" active="true")
      +tab_header(id="autoform" label="Auto Form")


   .tab-content
      +tab_content(id="default_form" template_name="model_def_form" active="true" parent_form="model_def_form_tabs")
      +tab_content(id="autoform" template_name="model_def_autoform" parent_form="model_def_form_tabs")