template(name="model_instance_list_header_phone")
   div
      +back_button_phone
      span.list_details_header.text-center #{name}
      span.pull-right
         +button_add_model_phone

template(name="button_add_model_phone")
   span.glyphicon.glyphicon-plus