template(name="field_form")
	ul(role="tablist" id="form_field_tabs").nav.nav-tabs
		li(role="presentation").basic.active
			a(href="#basic" aria-controls="basic" role="tab" data-toggle="tab") Basic
		li(role="presentation").advanced
			a(href="#advanced" aria-controls="advanced" role="tab" data-toggle="tab") Advanced

	form
		.tab-content
			.tab-pane.active(role="tabpanel" id="basic")
				+field_form_basic
			.tab-pane(role="tabpanel" id="advanced")
				+field_form_advanced
	br
	br
	+field_form_buttons

template(name="combo_fields")
	br
	+labeled_input_text(name="model_name" parent_form="field_form" label = "Model Name")

	br
	+labeled_input_text(name="display_value" parent_form="field_form" label = "Display Value")

	br
	+labeled_input_text(name="option_value" parent_form="field_form" label = "Option Value")

	if isMultiple
		br
		+labeled_checkbox(name="multiple" label="Is Multiple" parent_form="field_form")