template(name="model_def_list_phone")
    .panel.panel-primary
        .panel-heading
            .panel-title Modef Defs
        .panel-body
            ul.list-group
                each models
                    +model_def_name_phone
