template(name="model_details_buttons_phone")
   div.allign-center
      +button_edit_model_phone
      br
      +button_delete_model_phone

template(name="button_edit_model_phone")
   button.btn.btn-warning.btn-mobile.add_model Edit

template(name="button_delete_model_phone")
   button.btn.btn-danger.btn-mobile.remove_model Delete

