template(name="array_table_button_edit_row")
   a(href="/models/#{modelId}/fields/#{rowIndex}/edit").glyphicon.glyphicon-edit.edit_row

template(name="array_table_button_delete_row")
   a(href="#").glyphicon.glyphicon-trash.delete_field_row

template(name="array_table_button_delete_all")
   a(href="#").glyphicon.glyphicon-trash.delete_field_row