template(name="field_form")
	ul(role="tablist" id="form_field_tabs").nav.nav-tabs
		+tab_header(id="basic" label="Basic" active="true")
		+tab_header(id="advanced" label="Advanced")
		+tab_header(id="validation" label="Validations")

	form
		.tab-content
			+tab_content(id="basic" template_name="field_form_basic" active="true")
			+tab_content(id="advanced" template_name="field_form_advanced")
			+tab_content(id="validation" template_name="field_form_validations")

	br
	br
	+field_form_buttons

template(name="combo_fields")
	br
	+labeled_input_text(name="model_name" parent_form="field_form" label = "Model Name")

	br
	+labeled_input_text(name="display_value" parent_form="field_form" label = "Display Value")

	br
	+labeled_input_text(name="option_value" parent_form="field_form" label = "Option Value")

	if isMultiple
		br
		+labeled_checkbox(name="multiple" label="Is Multiple" parent_form="field_form")